<form action='/results'>
  <div class="form-group">
    <label for="totalCash">How much change would you like?</label>
    <input id="totalCash" type="number" name="totalCash" step="0.01">
  </div>
  <button type="submit" class="btn">Make Change</button>
</form>
